* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-width: 1100px;
}
body a:not(.sidebar-content-ul a) {
    text-decoration: underline;
}

body a:not(.sidebar-content-ul a):hover {
    text-decoration: underline;
    color: #ff0000;
}
.header-logo {}

.DateTime {
    background-color: #09C487;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-size: 12px;
    color: #000028;
    font-family: Verdana, Arial, sans-serif;
    padding: 3px 0 3px 5px;
}

.flex-container {
    display: flex;
}

.sidebar {     
min-width: 230px;
}

.sidebar-top img {
    width: 230px;
    height: 200px;
}

.img-logo-small {}

.sidebar-content {
  
}

.sidebar-content-ul {
    border: 1px solid #999;
    font-weight: 700;
    font-size: 10px;
    margin-top: 10px;
    padding-bottom: 20px;
}

.sidebar-content-ul > li {
    border: 1px solid #FFF;
    padding: 3px 0 3px 3px;
    position: relative;
    background: #09C487;
}

.sidebar-content-ul li:hover {
    background-color: #0099FF;
}
.sidebar-content-ul li a {
    display: block;
    width: 100%;      
 
}
.menu-drop {
    position: absolute;
    top: 0;
    left: 100%;
    width: 470px;
    display: none;
    background-color: #cdd5df;
    border: 1px solid #FFF;
    line-height: 1.5;
}
.menu-drop li{
    border-bottom: 1px solid #FFF;
    line-height: 2;
}
.menu-drop li:hover{
    border-bottom: 1px solid #FFF;
    line-height: 2;
}

.sidebar-content-ul li:hover .menu-drop {
    display: block;
}

.sidebar-bottom {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #999;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    justify-content: center;
    width: 230px;
    height: 50px;
}

.main-content {
    margin-top: 15px;
margin-right: 20px;
 border: 1px solid #ccc
}
.category-title{
    font-size: 20px;
    background: #09C487;
    color: #00304b;
    text-align: left;
    font-weight: 700;
}

.article-body table, 
.article-body th, 
.article-body td {
    border: 1px solid #ccc !important; /* Сіра рамка */
    padding: 8px;
}
.articles-list{

}
.main-content h1 {
    font-size: 20px;
    background: #09C487;
    color: #00304b;
    text-align: left;
    font-weight: 700;
}

.article {
    margin-top: 10px;
    font-size: 12px;
    color: #000028;
    font-family: Verdana, Arial, sans-serif;
    justify-content: space-between;
}

.flex-article {
    display: flex;
}
.article-body tr {

}


.main-content {
    flex-grow: 1;          /* Це змусить блок розтягнутися на всю ширину */

}

.article-body img {
    max-width: 100% !important;
    border: 1px outset #d1d5db;
    background-color: #f3f4f6;
    padding: 1px;
}
/* Примусово вирівнюємо шрифт для всього контенту статті */
.article-body, 
.article-body p, 
.article-body span, 
.article-body td,   
.article-body h2 {
    font-size: 14px !important; 
    line-height: 1.5 !important;
    font-family: Arial, sans-serif !important;
}

/* Оптимізований блок таблиць */
.article-body table {
    width: auto !important; 
}

.article-body td {
    width: auto !important;
    border: 1px solid #ccc !important;
    padding: 8px;
    vertical-align: top; /* Щоб текст не "стрибав" при різній висоті картинок */
}

h2{
    font-size: 12px;
}

.article-body  {
    
    color: black;
    background: #FFFFFF;
    line-height: 2;
    padding: 10px;
    line-height: 20px;
    padding: 10px;
}

.news-title {
    background-color: #09C487;
    font-weight: 700;
    border: 1px solid #fff;
    width: 90%;
    display: flex;
    align-items: center;

}

.news-date {
background-color: #09C487;
    border: 1px solid #fff;
    width: 10%;
    display: flex;
    align-items: center;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px ;

}
.pagination a {
    color: #318dc4 ; 
    text-decoration: underline !important;
    margin-right: 8px;
    font-size: 14px;
}
.pagination {
display: flex;
justify-content: center;

}
.pagination a:hover {
    color: #ff0000 ; 
}

.footer{
height: 15px;
background-color:#09C487 ;
}

